version: '3.8'

services:
  database:
    image: postgres:15-alpine
    container_name: vdatabase
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports: 
    - "5432:5432"
    volumes:
    - ./init-scripts:/docker-entrypoint-initdb.d
    - ~/Desktop/aguploads:/var/www/cdn
    